---
name: Release Drafter
true:
  pull_request:
    types:
    - opened
    - reopened
    - synchronize
  pull_request_target:
  push:
    branches:
    - master
    - main
    - dependabot/**
    - renovate/**
    - testing
    paths-ignore:
    - '**/README.md'
    - '**/CHANGELOG.md'
permissions: write-all
concurrency:
  cancel-in-progress: true
  group: ${{ github.ref }}-${{ github.workflow }}
jobs:
  changelog_draft:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout dj-wasabi-release repo
      uses: actions/checkout@v6
      with:
        path: dj-wasabi-release
        repository: dj-wasabi/dj-wasabi-release
    - name: Checkout current repo
      uses: actions/checkout@v6
      with:
        path: ${{ github.event.repository.default_branch }}
    - env:
        CHANGELOG_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      name: Commit Changelog file
      run: "# We are cloned in the 'default' directory and the dj-wasabi-release\n\
        # repository is the 'dj-wasabi-release' next to 'default'\ncd ${{ github.event.repository.default_branch
        }}\n# Generate CHANGELOG.md file\n../dj-wasabi-release/release.sh -d\n# Let
        commit the changes if there are any? (Well there should be!)\nif [[ $(git
        status | grep -c 'CHANGELOG.md' || true) -gt 0 ]]\n  then  echo \"Committing
        file\"\n        git config --global user.name 'Shadow Walker [GH bot]'\n \
        \       git config --global user.email 'github@buluma.me.ke'\n        git
        add CHANGELOG.md\n        git commit -m \"Updated CHANGELOG.md on \\\"$(date
        \"+%Y-%m-%d %H:%M:%S\")\\\"\" CHANGELOG.md\n        git push\nfi\n"
  update_release_draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      uses: release-drafter/release-drafter@v6
      with:
        config-name: release-drafter.yml
        disable-autolabeler: false
